In [1]:
# Data lib
import pandas as pd
import numpy as np

# Viz lib
import plotly.graph_objs as go
from plotly.subplots import make_subplots
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
# Loading the url
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00235/household_power_consumption.zip'

# Loading the data
data = pd.read_csv(url, delimiter=';', low_memory=False)

In [4]:
# Reading the data
data.head()

         Date      Time  ... Sub_metering_2 Sub_metering_3
0  16/12/2006  17:24:00  ...          1.000           17.0
1  16/12/2006  17:25:00  ...          1.000           16.0
2  16/12/2006  17:26:00  ...          2.000           17.0
3  16/12/2006  17:27:00  ...          1.000           17.0
4  16/12/2006  17:28:00  ...          1.000           17.0

[5 rows x 9 columns]

In [5]:
# Checking basic info
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075259 entries, 0 to 2075258
Data columns (total 9 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Date                   object
 1   Time                   object
 2   Global_active_power    object
 3   Global_reactive_power  object
 4   Voltage                object
 5   Global_intensity       object
 6   Sub_metering_1         object
 7   Sub_metering_2         object
 8   Sub_metering_3         float64
dtypes: float64(1), object(8)
memory usage: 142.5+ MB

In [6]:
# Combining the Date and Time into one attribute as Datetime and removing the Date and Time attribues
data['Date_time'] = pd.to_datetime(data.pop('Date')) + pd.to_timedelta(data.pop('Time'))

In [7]:
# Checking the whole data for null values
data.isnull().sum().to_frame('Null_values').reset_index()

                   index  Null_values
0    Global_active_power            0
1  Global_reactive_power            0
2                Voltage            0
3       Global_intensity            0
4         Sub_metering_1            0
5         Sub_metering_2            0
6         Sub_metering_3        25979
7              Date_time            0

In [8]:
# Check the null values in Sub_metering_3
data[data['Sub_metering_3'].isnull()].head()

      Global_active_power  ...           Date_time
6839                    ?  ... 2006-12-21 11:23:00
6840                    ?  ... 2006-12-21 11:24:00
19724                   ?  ... 2006-12-30 10:08:00
19725                   ?  ... 2006-12-30 10:09:00
41832                   ?  ... 2007-01-14 18:36:00

[5 rows x 8 columns]

In [9]:
# Replacing '?' to NaN values
data.replace('?', np.nan, inplace=True)

In [10]:
# Again checking the whole data for null values
null_df = data.isnull().sum().to_frame('Null_values').reset_index()
null_df['Null_%'] = round(null_df['Null_values'] / len(data['Date_time']) * 100, 2)
null_df

                   index  Null_values  Null_%
0    Global_active_power        25979    1.25
1  Global_reactive_power        25979    1.25
2                Voltage        25979    1.25
3       Global_intensity        25979    1.25
4         Sub_metering_1        25979    1.25
5         Sub_metering_2        25979    1.25
6         Sub_metering_3        25979    1.25
7              Date_time            0    0.00

In [ ]:
# Dropping all NaN values
data = data.dropna()

In [11]:
# Creating new attributes by extracting data from Date_time
data['Year'] = pd.to_datetime(data['Date_time']).dt.year
data['Month'] = pd.to_datetime(data['Date_time']).dt.month
data['Week_num'] = pd.to_datetime(data['Date_time']).dt.isocalendar().week
data['Month_day'] = pd.to_datetime(data['Date_time']).dt.day
data['Week_day'] = pd.to_datetime(data['Date_time']).dt.weekday
data['Year_day'] = pd.to_datetime(data['Date_time']).dt.dayofyear
data['Week_day'] = pd.to_datetime(data['Date_time']).dt.dayofweek
data['Hour'] = pd.to_datetime(data['Date_time']).dt.hour

In [12]:
# Adding seasons winter/spring/summer/autumn
data['Season'] = data['Month']%12 // 3+1

In [13]:
# Converting the data types for all columns except date_time and week_num
cols = [i for i in data.columns if i not in ['Date_time', 'Week_num']]
for col in cols:
    data[col] = pd.to_numeric(data[col], downcast='integer')

In [14]:
# Checking the info and data type of the data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075259 entries, 0 to 2075258
Data columns (total 16 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Global_active_power    float64
 1   Global_reactive_power  float64
 2   Voltage                float64
 3   Global_intensity       float64
 4   Sub_metering_1         float64
 5   Sub_metering_2         float64
 6   Sub_metering_3         float64
 7   Date_time              datetime64[ns]
 8   Year                   int16
 9   Month                  int8
 10  Week_num               UInt32
 11  Month_day              int8
 12  Week_day               int8
 13  Year_day               int16
 14  Hour                   int8
 15  Season                 int8
dtypes: UInt32(1), datetime64[ns](1), float64(7), int16(2), int8(5)
memory usage: 154.4 MB

In [18]:
# Saving the final data into a new dataset

# data.to_csv('power_cons_data_clean.csv', index=False)
# !cp data.csv "/content/drive/MyDrive/Colab Notebooks/power_consumption_project"
# data.to_csv('/drive/MyDrive/Colab Notebooks/power_consumption_project', index=False)